version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: nestjs_mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - '3306:3306'
    networks:
      - nestjs-network
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    container_name: nestjs_app
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - '3000:3000'
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - mysql
    networks:
      - nestjs-network
    command: npm run start:dev

networks:
  nestjs-network:


volumes:
  mysql_data:
